<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSVAGRJ3kYeULbbeTz59biGag27xfqqzU</string>
	<key>GCM_SENDER_ID</key>
	<string>785896990662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectFirebase</string>
	<key>PROJECT_ID</key>
	<string>connect-firebase-9a28b</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-firebase-9a28b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785896990662:ios:adfd1070a30c9cc67c74c7</string>
</dict>
</plist>